*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cairo;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar h1 {
    font-family: cairo;
    font-size: 30px;
    color: #e4e4e4;
    text-decoration: none;
}
.navbar a {
    font-size: 20px;
    color: #e4e4e4;
    text-decoration: none;
    margin-right: 30px;

}



.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;

}
.search-bar input {
width: 100%;
background: transparent;
border: none;
outline: none;
font-size: 16px;
color: #e4e4e4;
padding-left: 10px;

}
.search-bar input::placeholder {
    color: #e4e4e4;

}
.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.search-bar button img {
    font-size: 22px;
    color: #e4e4e4;
}
 body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("background.jpg");
    
}

.wrapper{
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
 position: relative;
width: 100%;
height: 50px;

margin: 30px 0;
}
.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 40px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .forget-remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.forget-remember label input{
    accent-color: #fff;
    margin-right: 3px;

}
.forget-remember a{
    color: #fff;
    text-decoration: none;
}
.forget-remember a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .sign-up{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.sign-up p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.sign-up p a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px 5%;
    }
    .navbar h1 {
        margin-bottom: 10px;
        font-size: 26px;
    }
    .navbar a {
        margin: 5px 10px;
    }
    .search-bar {
        width: 100%;
        margin-top: 10px;
    }
    .wrapper {
        width: 90%;
        padding: 20px;
        margin-top: 120px;
    }
    .wrapper h1 {
        font-size: 28px;
    }
    .input-box input {
        padding: 15px 20px;
        font-size: 14px;
    }
    .wrapper .btn {
        font-size: 14px;
        height: 40px;
    }
    .wrapper .sign-up {
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    .navbar a {
        font-size: 16px;
        margin: 3px 5px;
    }
    .wrapper h1 {
        font-size: 24px;
    }
    .input-box input {
        padding: 12px 15px;
        font-size: 13px;
    }
    .wrapper .btn {
        font-size: 13px;
        height: 38px;
    }
    .wrapper .sign-up {
        font-size: 12px;
    }
}